.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #ffffff;
  }
  to {
    text-shadow: 0 0 80px #ffffff;
  }
}

.icon {
  height: 50px;
}

.login-input {
  position: relative;
  left: 10px;
  box-sizing: border-box;
  height: 42px;
  width: 500px;
}

.login-button {
  padding: 10px 60px;
}

.revealpass {
  padding: 5px;
  height: 40px;
  margin-left: 10px;
  margin-bottom: -10px;
  border-radius: 10px;
}
.revealpass:hover {
  background: rgb(15, 15, 15);
}
