@font-face {
  font-family: fancyshit;
  src: url(../../fonts/AngerStyles.ttf);
}

@font-face {
  font-family: logoshit;
  src: url(../../fonts/The\ Centurion.otf);
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: black;
  color: white;
  font-family: fancyshit;
}
h1 {
  font-family: logoshit;
  font-weight: lighter;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffff, 0 0 40px #ffff,
      0 0 50px #ffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
  }
  to {
    text-shadow: 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff,
      0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff;
  }
}
